 
 .formulario-login{
   margin-top: 8px;
   background-color: #fff;
   border-radius: 6px;
   padding: 30px;
   gap: 40px;
 line-height: 24px;
 width: 384px;
 }


 .form-login{
  padding: 12px;
  margin-top: 16px;
  color:rgb(17, 24, 39) ;
  background-color:rgb(243 244 246) ;
  width: 330px;
  outline-offset: 2px;
  outline: 3px solid transparent;
  border-radius: 10px; 
  opacity: 0.7;
  
  }


  .form-login:focus{
    border-color:#00bfff;
  }


  .btn-login{
   text-align: center;
   text-transform: uppercase;
   font-weight: 600;
   border: none;
   height: 50px;
  
   border-radius: 20px;
   margin-top: 26px;
   color: #fff;
   background-color: rgb(20 83 45);
   cursor: pointer;
   width: 330px;
   
  
 }
 
 
 
 
 .btn-login:hover  {
     background-color: rgb(21 128 61);
     transition: 0.5s;
   }
   
   .btn-login:active{
     background: black;
   }
   
 
 

  
   /* responsividade */
   @media (max-width: 480px) {
    
   }
   
   @media (max-width: 380px) {
    
   }
   @media screen and (max-width:768px) {
   }
   
       @media screen and (max-width: 1200px) {
         }