 
 .formulario-login{
   margin-top: 8px;
   background-color: #fff;
   border-radius: 6px;
   padding: 30px;
   gap: 40px;
 line-height: 24px;
 width: 384px;
 }


  .btn-login{
   text-align: center;
   text-transform: uppercase;
   font-weight: 600;
   border: none;
   height: 50px;
  
   border-radius: 20px;
   margin-top: 16px;
   color: #fff;
   background-color: rgb(20 83 45);
   cursor: pointer;
   width: 330px;
   
  
 }
 
 
 
 
 .btn-login:hover  {
     background-color: rgb(21 128 61);
     transition: 0.5s;
   }
   
   .btn-login:active{
     background: black;
   }
   .input-senha{
  position: relative;
  display: flex;
  align-items: center;
   }
 .icon  {

  margin:20px 0px 0px -40px;

  display: inline;
 
 }
 .icon-button{
all:unset;
cursor: pointer;
outline: 0;
display: flex;
align-items: center;
color:rgb(17, 24, 39) ;
/* width: 808px; */
outline-offset: 2px;
outline: 2px solid transparent;
margin:20px 0px 0px -40px;
opacity: 0.7;

 }

 .text-login{
  
  display: flex;
  align-items: center;
  justify-content: center;
margin-top: 16px;
text-decoration-line:underline ;
font-weight: 600;
color:  rgb(20 83 45);
line-height: 24px;
font-size: 16px;
}



.text-login:hover ,.text-esqueceu:hover {
  color: rgb(22 163 74);
  /* transition: 0.5s; */
}
 



 .text-esqueceu{
  justify-content: flex-end;
  display: flex;
  margin-top: 16px;
  text-decoration-line: underline;
  font-weight: 600;
  color: rgb(20 83 45);
  line-height: 24px;
  font-size: 16px;
cursor: pointer;
 }


  
   /* responsividade */
   @media (max-width: 480px) {
    
   }
   
   @media (max-width: 380px) {
    
   }
   @media screen and (max-width:768px) {
   }
   
       @media screen and (max-width: 1200px) {
         }